*~
tmp/*
!empty
*.sass-cache
Config/security.php
Config/database.php
Config/database.development.php
Config/database.production.php
Config/database.staging.php
Config/email.php
webroot/index.php
webroot/attachments/album-covers/*
webroot/attachments/art/*
webroot/attachments/events/*
webroot/attachments/mp3/*
webroot/attachments/news/*
webroot/attachments/photos/*
webroot/attachments/tmp/*
webroot/audio/*
webroot/sass/_site.scss
webroot/coffeescripts/siteConfig.coffee
webroot/js/compiled/siteConfig.js

webroot/img/photography/*.jpg
webroot/cjs/*
webroot/ccss/*
webroot/2pp
webroot/8bc
webroot/8bitpeoples
webroot/NAVE
webroot/asif
webroot/balun
webroot/birds
webroot/blip_festival_2008
webroot/boxen.gif
webroot/brutostyle
webroot/butterhair
webroot/catarina
webroot/cavaquinho
webroot/cherryeyes
webroot/chip-hop
webroot/chip
webroot/chipmusic.org
webroot/chris
webroot/clients
webroot/derecha
webroot/dogwalker
webroot/drop_box
webroot/eeuuee
webroot/european_tour_2008
webroot/ewa
webroot/file_2010.png
webroot/fileprixlux2010
webroot/fwmj
webroot/g1
webroot/get_back
webroot/hidrogenesse
webroot/i-o
webroot/images
webroot/jean
webroot/jeremiah
webroot/judy
webroot/left
webroot/logo
webroot/lorena
webroot/malota
webroot/midinesbox
webroot/miguelito
webroot/minusbaby-happy_2008.mp3
webroot/minusbaby_logo_454x454-pr.gif
webroot/minusbaby_site-about_01.gif
webroot/minusmoney
webroot/myspace
webroot/nymma
webroot/ola
webroot/old_music
webroot/one-man_show-may_2009
webroot/openback
webroot/paris
webroot/pcs
webroot/pp
webroot/pulsewave-jan_09.gif
webroot/pulsewave
webroot/r
webroot/shop
webroot/shows
webroot/starscream
webroot/start-destroy
webroot/states_020108.gif
webroot/stieg
webroot/temp
webroot/tumblr
webroot/v3r0n1qu3
webroot/video
webroot/vmoney
webroot/web_internets
webroot/whoops.gif
webroot/x
webroot/xmas_2010
webroot/portfolio/ndxz-studio/config.php
webroot/portfolio/files
