*~
tmp/*
!empty
*.sass-cache
Config/security.php
Config/database.php
Config/database.development.php
Config/database.production.php
Config/database.staging.php
Config/email.php
webroot/index.php
webroot/attachments/album-covers/*
webroot/attachments/art/*
webroot/attachments/events/*
webroot/attachments/mp3/*
webroot/attachments/news/*
webroot/attachments/photos/*
webroot/attachments/tmp/*
webroot/audio/*

